[submodule ".vim/pack/my-plugins/start/vim-polyglot"]
	path = .vim/pack/my-plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/pack/my-plugins/start/syntastic"]
	path = .vim/pack/my-plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/pack/my-plugins/start/nerdtree"]
	path = .vim/pack/my-plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/my-plugins/start/nerdcommenter"]
	path = .vim/pack/my-plugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/pack/my-plugins/start/editorconfig-vim"]
	path = .vim/pack/my-plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/pack/my-plugins/start/vlime"]
	path = .vim/pack/my-plugins/start/vlime
	url = git@github.com:vlime/vlime.git
[submodule ".vim/pack/my-plugins/start/paredit"]
	path = .vim/pack/my-plugins/start/paredit
	url = git@github.com:kovisoft/paredit.git
